<!doctype html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
{% block content %}
<div class="center">
<h1>Diabetes Prediction Expert</h1>
<form action="" method="POST">
	<label>Model has been trained with {{accuracy}}% accuracy!</label>
	<br>
	<br>
	<label>File to test model:</label>
	<br>
	<label><input type="file" id="myFile_test" name="myFile_test" accept=".csv"/></label>
	<br>
	<br>
	<label><input type="submit" value="Submit"/></label>
</form>
</div>
{% endblock %}
</html>